src/main/mule/deployableapplicationtocloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="617be9bf-16cb-4211-a768-adfd29d929e6" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7959c45c-5a13-4e3f-99c7-56357f5fc05a" file="http.yaml" />
	<flow name="deployableapplicationtocloudFlow" doc:id="7a9c88f7-c903-4937-b1c2-6d14a4300aec" >
		<http:listener doc:name="Listener" doc:id="47b21145-a097-4571-aa13-6488dc2ac32f" config-ref="HTTP_Listener_config" path="/cloude"/>
		<set-payload value='#["deploy application to Runtime manager"]' doc:name="Set Payload" doc:id="f1654a37-d9e0-4802-ace6-ab3fe2839011" />
	</flow>
</mule>
